@import "_color.scss";

html, body {
  width: 100%;
  height: 100%;
  background-color: $base-color;
}

html {
  // font-family: 'Helvetica Neue', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-family: 'Raleway', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: $text-black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  $_color: #1C7FBB;
  text-decoration: none;
  color: $_color;
  border-bottom: 1px solid $_color;
}

h1, h2, h3, h4, h5 {
  color: #1E415E;
}

li {
  margin: 10px 0;
}

button, .button, input[type="submit"] {
  border: none;
  border-right: 2px solid #2C8413;
  border-bottom: 3px solid #375C2D;
  border-radius: 2px;
  color: white;
  background-color: rgb(18, 168, 105);
  height: 36px;
  line-height: 33px;
  width: 55px;
}

input[type="text"], textarea {
  border: 1px solid #EFEFEF;
}

input[type="text"] {
  line-height: 2.7rem;
  text-indent: 5px;
}

hr {
  margin: 30px auto;
  border: 1px solid #DADADA;
}

::selection {
  background-color: #441F14;
  color: #FEFEFE;
}
::-moz-selection {
  background-color: #441F14;
  color: #FEFEFE;
}
