
.header {
  width: 100%;
  height: auto;
  background-color: #275694;
  color: #FFF;
  overflow: hidden;
  padding: 10px 0;
  &__inner {
    @include center-width-baranser();
  }
  &__title {
    &__link-to-top {
      text-decoration: none;
      border: none;
      color: #fff;
    }
  }
}


