@import "_color";
@Import "_size-definitions";


.header {
  width: 100%;
  height: auto;
  background-color: #275694;
  color: #FFF;
  overflow: hidden;
  padding: 10px 0;
  &__inner {
    @include center-width-baranser();
  }
  &__title {
    display: inline-block;
    width: 90%;
    &__link-to-top {
      text-decoration: none;
      border: none;
      color: #fff;
    }
  }
}


#app-login-panel {
  display: inline-block;
}

@mixin _button__login-state-style() {
  background-color: $white;
  color: $text-black;
  border-radius: 2px;
}
.button__login-state--sign-up {
  @include _button__login-state-style();
  padding: 6px 8px;
}
.button__login-state--sign-uped {
  @include _button__login-state-style();
  padding: 6px 6px;
}
