@import './_size-definitions.scss';

$black: #454545;

.controll-panel {
  @include center-width-baranser();
  margin: auto;
}

.button__open-post {
  @include icon-font();
  width: 40px;
  height: 30px;
  background-color: #FFF;
  color: $black;
  border-radius: 2px;
  border: none;
}

.search-box {
  color: $black;
  border: none;
  margin: auto 30px;
  line-height: 2.5rem;
  text-indent: 5px;
  border-radius: 2px;
}

.post__panel--dark__cover {
  position: fixed;
  z-index: 5000000;
  top: 0;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  background-color: rgba(34, 34, 34, 0.85);
  color: $black;
}

.post__panel {
  position: absolute;
  background-color: #FEFEFE;
  color: $black;
  border-radius: 3px;
  border-right: 2px #E0E0E0 solid;
  border-bottom: 2px #E0E0E0 solid;
  z-index: 5000001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 5px 30px 10px;
}

.post__panel__form {
  margin-top: 3px;
}

