@charset "utf-8";

@import '../../node_modules/normalize.scss/normalize.scss';
@import './_commons.scss';

@import './_size-definitions.scss';

@import './font';


.close__button {
  @extend .octicon-x;
  border: none;
}


.header {
  width: 100%;
  height: auto;
  background-color: #275694;
  color: #FFF;
  overflow: hidden;
  padding: 10px 0;
}

.header__inner {
  @include center-width-baranser();
}


.main {
  @include center-width-baranser();
}


@import './post-panel';

.label--row {
  display: block;
  margin: 10px;
  span {  // FIXME:
    display: inline-block;
    width: 80px;
  }
}


.questions {
}

.question {
  padding: 20px 0;
  min-width: 200px;
  border: 1px #eee solid;
  margin: 15px 0;

  &__inner {
    width: 90%;
    margin: auto auto auto 15px;
    overflow: hidden;
  }

  &__title {
    font-weight: bold;
  }
  &__digest {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

