@charset "utf-8";

@import '../../node_modules/normalize.scss/normalize.scss';
@import './_commons.scss';

@import './_size-definitions.scss';

@import './font';


.close__button {
  $button-size: 20px;
  @include icon-font();
  @extend .octicon-x;
  border: none;
  background-color: rgb(134, 134, 134);
  width: $button-size;
  height: $button-size;
  line-height: 0;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  margin-right: 10px;
}


.header {
  width: 100%;
  height: auto;
  background-color: #275694;
  color: #FFF;
  overflow: hidden;
  padding: 10px 0;
}

.header__inner {
  @include center-width-baranser();
}


.main {
  @include center-width-baranser();
}


@import './post-panel';

.label--row {
  display: block;
  margin: 10px;
  span {  // FIXME:
    display: inline-block;
    width: 80px;
  }
}


.questions {
}

.question {
  box-sizing: border-box;
  padding: 20px 20px;
  min-width: 200px;
  border: 1px #eee solid;
  margin: 15px 0;
  cursor: pointer;

  &__inner {
    width: 90%;
    margin: auto auto auto 15px;
    overflow: hidden;
  }
  &__posted-user {
    // TODO: もっといいの
    @include icon-font();
    @extend .octicon-octoface;
    margin-right: 8px;
  }
  &__title {
    font-weight: bold;
    font-size: 3.5rem;
  }
  &__digest {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__content {
    margin: 30px 0;
  }
}


.answers-section__header {
  margin: 35px 0;
  font-size: 2rem;
}

.answer-user {
  @include icon-font();
  @extend .octicon-octoface;
  margin-bottom: 2px;
  margin-right: 7px;
  // font-weight: bold;
  font-size: 1.9rem;
}

.answer-content {
  
}

.answer-form {
  margin: 60px 0 40px 0;
  &__name {
    display: block;
  }
  &__content {
    display: block;
    width: 40%;
    height: 330px;
  }
}
